---
import Layout from "../layouts/Layout.astro";
import Social from "../components/Social.astro";
import { Image } from "astro:assets";
import Jaume from "../assets/images/jaume-photo.png";
---

<Layout title='Portafolio Jaume'>
  <main class='py-4 flex flex-col gap-4'>
    <div class="max-w-[500px]">
      <Image
        src={Jaume}
        alt={"Profile photo of Jaume"}
      />
    </div>
    <span class="text-2xl font-bold">!Hola a todos!</span>
    <h1 class='font-bold text-5xl'>Soy Jaume</h1>
    <p class="">
      Frontend Developer que le encanta implementar diseños que inspiran y
      atraen a las personas.
    </p>
    <Social />
    <button>Descargar currículum</button>
  </main>
</Layout>
