---
import Button from "./Button.astro"
---
<header class="flex justify-between py-4">
  <img src="" alt="">
  <nav class="hidden md:block">
    <a href="">Hola</a>
    <a href="">Proyectos</a>
    <a href="">Hablemos</a>
  </nav>
  <Button>Currículum</Button>
</header>