<header class="flex justify-between py-4">
  <img src="" alt="">
  <nav class="hidden md:block">
    <a href="">Hola</a>
    <a href="">Proyectos</a>
    <a href="">Hablemos</a>
  </nav>
  <button class="py-3 px-6 bg-primary text-white uppercase rounded text-sm font-bold tracking-widest">Currículum</button>
</header>