---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href} class='bg-white p-2 rounded border-2 border-primary' target="_blank" rel="noopener noreferrer">
  <slot />
</a>
