---
import ArrowDown from './icons/ArrowDown.astro'
---
<section id="Projects">
  <div class="py-10 flex flex-col gap-6 items-center">
    <p class="text-2xl text-center leading-9">A lo largo de mi carrera como Frontend, he tenido el privilegio de trabajar en proyectos retadores e increíbles</p>
    <p class=" font-bold text-2xl text-center leading-9">Aquí hay algunos que me gustaría compartir.</p>
    <ArrowDown className='size-20'/>
  </div>
</section>